@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 
@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto"); 




.spacing { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: flex;
} 

.body { 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    scroll-behavior: smooth; 
    font-family: Poppins,sans-serif; 
    text-decoration: none; 
    margin: 0;
} 

.html { 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    scroll-behavior: smooth; 
    font-family: Poppins,sans-serif; 
    text-decoration: none; 
    margin: 0;
} 

:root { 
    --primaryText: #70707a; 
    --secondaryText: #4b4b4f; 
    --tertiaryText: #ffffff; 
    --primaryAccent: #0501c0; 
    --secondaryAccent: #0501c0; 
    --brightAccent: #f0f0ff; 
    --shadowColor: rgba(130, 129, 168, 0.444); 
} 

.content { 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    grid-column-start: 7; 
    grid-column-end: 10;
} 

.grid { 
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    grid-gap: 1rem; 
    gap: 1rem; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    -webkit-align-items: center; 
    align-items: center;
} 

.hero { 
  
    height: 650px; 
    grid-template-rows: 3fr 1fr;
} 

img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    padding:5%;
    position: relative;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: right;
}
    


.hero-text { 
    
    grid-column-start: 7; 
    grid-column-end: 11;
} 

.hero-cta { 
    justify-self: center; 
    grid-column-start: 3; 
    grid-column-end: 11; 
    margin: 2em; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-direction: row; 
    flex-direction: row; 
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap; 
    -webkit-justify-content: center; 
    justify-content: center;
} 

p { 
    
    color:   var(--secondaryText); 
    font-size:   14;
    scroll-behavior:  smooth; 
    font-family:  Poppins,sans-serif; 
    text-decoration:  none; 
    margin:  0;
    -webkit-margin-after: .5em; 
    margin-block-end: .5em;
} 

.blend-title { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family:  Poppins; 
    font-weight:  700; 
    letter-spacing:  -.04em;
    font-size: 18px; 
    line-height: 28px; 
    color: var(--tertiaryText);
} 

h1 { 
    display: block;
  margin-left: auto;
  margin-right: auto;
    scroll-behavior:   smooth; 
    font-family:   Poppins,sans-serif; 
    text-decoration:   none; 
    margin:   0;
    -webkit-margin-after:  .5em; 
    margin-block-end:  .5em;
    -webkit-margin-before: 1.5em; 
    margin-block-start: 1.5em; 
} 

.large-title { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size:  48px; 
    line-height:  64px; 
    color:  var(--primaryText);
    margin: 0; 
    font-family: Poppins; 
    font-weight: 700; 
    letter-spacing: -.04em;
} 

.slug { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0; 
    font-family: Poppins; 
    font-weight: 500; 
    font-size: 18px; 
    letter-spacing: -.04em; 
    line-height: 26px; 
    color: var(--secondaryText);
} 

.hero .slug  { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: .8em 0;
} 

a { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:   var(--primaryAccent);
    scroll-behavior:  smooth; 
    font-family:  Poppins,sans-serif; 
    text-decoration:  none; 
    margin:  0;
    -webkit-margin-after: .5em; 
    margin-block-end: .5em;
} 

.cta { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 8px; 
    padding: 16px 32px; 
    font-family: Poppins; 
    font-weight: 600; 
    font-size: 16px; 
    text-decoration: none; 
    background: -webkit-linear-gradient(var(--brightAccent) 100%,#fff 0); 
    background: linear-gradient(var(--brightAccent) 100%,#fff 0); 
    box-shadow: 0 5px 12px var(--shadowColor); 
    border-radius: 12px; 
    -webkit-transition: .3s ease-in-out; 
    transition: .3s ease-in-out; 
    display: -webkit-flex; 
    display: flex;
} 

.cta.secondary { 
    display: flex;
    color:  var(--primaryAccent); 
    background:  #fff;
    text-shadow: 0 5px 12px var(--shadowColor);
} 

.cta.secondary:hover { 
    display: flex;
    -webkit-transform:  scale(1.05); 
    transform:  scale(1.05); 
    -webkit-transition:  .3s ease-in-out; 
    transition:  .3s ease-in-out;
    background: var(--primaryAccent); 
    color: #fff;
    letter-spacing: -.04em;
} 

.cta.primary { 
    display: flex;
    text-shadow:  0 5px 12px var(--shadowColor);
    color: #fff; 
    background: -webkit-linear-gradient(bottom left,var(--primaryAccent),var(--secondaryAccent)); 
    background: linear-gradient(to top right,var(--primaryAccent),var(--secondaryAccent));
} 

.cta.primary:hover { 
    display: flex;
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
    -webkit-transition: .3s ease-in-out; 
    transition: .3s ease-in-out;
} 

.slug  b  { 
    
    font-weight: 700; 
    background: -webkit-linear-gradient(bottom left,var(--primaryAccent),var(--secondaryAccent)); 
    background: linear-gradient(to top right,var(--primaryAccent),var(--secondaryAccent)); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-shadow: 0 2px 6px var(--shadowColor);
} 

.cta.inline { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 32px; 
    display: flex;
} 

.cta.primary { 
    
    text-shadow:  0 5px 12px var(--shadowColor);
    color: #fff; 
    background: -webkit-linear-gradient(bottom left,var(--primaryAccent),var(--secondaryAccent)); 
    background: linear-gradient(to top right,var(--primaryAccent),var(--secondaryAccent));
} 

.cta.primary:hover { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
    -webkit-transition: .3s ease-in-out; 
    transition: .3s ease-in-out;
} 

.svg-inline--fa { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block; 
    font-size: inherit; 
    height: 1em; 
    vertical-align: -.125em;
} 

.svg-inline--fa.fa-w-16 { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1em;
} 

.svg-inline--fa,svg:not(:root).svg-inline--fa { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
} 
